/*********STYLESHEET **************/
/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
body{
    padding: 0;
}
#main{
    float: none;
    margin: 0 auto;
    font-family:raleway;
}
h2{
    background-color: #FEFFED;
    text-align:center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px -20px !important;
    padding: 15px;
}
hr{
    border:0;
    border-bottom:1px solid #ccc;
    margin: 10px -40px;
    margin-bottom: 30px;
}
#login, #csv_sec, #status{
    width:50%;
    min-width: 320px;
    border-radius: 10px;
    font-family:raleway;
    border: 2px solid #ccc;
    padding: 10px 40px 25px;
    margin: 70px auto 0 auto;
} 
#status{
    padding: 10px 0 45px;
    margin-top:30px;
    background: #FEFFED;
}
input[type=text],input[type=email]{
    width:100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family:raleway;
    margin-bottom: 10px;
} 
input[type=submit]{
    width: 100%;
    background-color:#FFBC00;
    color: white;
    border: 2px solid #FFCB00;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
}
textarea{
    width: 100%;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}
input[type="file"] {
    float: left;
    width: 100%;
    margin: 15px auto;
}
a#more {
    float: right;
    margin-right: 15px;
}
h1 {
    text-align: center;
}
ul {
    list-style: none;
}
div#status ul {
    padding-left: 0;
}
div#status ul li {
    width: 100%;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
}

div#status ul li img {
    width: 50px;
    margin: 5px 10px;
    padding: 0 15px;
}
@media only screen and (max-width:480px){
    div#login{
        width: 300px;
    }
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}