﻿<div><img alt="" src="http://s15.postimg.org/helgegd63/image.jpg" height="408" width="566" /></div>
<div dir="ltr">
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<font style="line-height: normal;" face="맑은 고딕" size="2">안녕하십니까,&nbsp;</font>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<font style="line-height: normal;" face="맑은 고딕" size="2">NC9 -
			구진영 법인장 입니다.</font>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<font style="line-height: normal;" face="맑은 고딕" size="2">당사의
			AMnote 프로그램에 대하여 소개하고자 합니다.</font>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US"><br style="line-height: 18.9333324432373px;"></span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US">AMnote</span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">는&nbsp;<span
			style="line-height: 18.9333324432373px;" lang="EN-US">ASP(</span></span><span
			style="line-height: 17.0400009155273px; font-size: 9pt; font-family: Helvetica, sans-serif;"
			lang="EN-US">Application Service Provide)&nbsp;</span><span
			style="line-height: 17.0400009155273px; font-size: 9pt; font-family: '맑은 고딕';">기반</span><span
			style="line-height: 17.0400009155273px; font-size: 9pt; font-family: Helvetica, sans-serif;">&nbsp;</span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">회계프로그램
			입니다<span style="line-height: 18.9333324432373px;" lang="EN-US">.&nbsp;&nbsp;</span>
		</span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">베트남에는<span
			style="line-height: 18.9333324432373px;" lang="EN-US">&nbsp;SMART,
				BRAVO, MISA</span>와 같은 베트남어 회계프로그램을 많이들 사용하고 계시는데<span
			style="line-height: 18.9333324432373px;" lang="EN-US">,&nbsp;</span></span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">이
			프로그램들이 가지고 있는 기본기능들은 포함하면서<span
			style="line-height: 18.9333324432373px;" lang="EN-US">,&nbsp;</span>
		</span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">한층
			더 사용하시기에 불편함 없이 보완된 프로그램이라고 생각하시면 됩니다<span
			style="line-height: 18.9333324432373px;" lang="EN-US">.</span>
		</span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"><span
			style="line-height: 18.9333324432373px;" lang="EN-US"><br
				style="line-height: 18.9333324432373px;"></span></span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US">AMnote</span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">프로그램
			사용시 기대효과에는<span style="line-height: 18.9333324432373px;" lang="EN-US">.</span>
		</span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"><span
			style="line-height: 18.9333324432373px;" lang="EN-US"><br
				style="line-height: 18.9333324432373px;"></span></span>
	</p>
	<p class="ecxMsoListParagraphCxSpFirst"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; text-indent: -18pt; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US">-<span
			style="line-height: 14.1999998092651px; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">세계
			어느 곳이든 인터넷이 되는 곳이라면<span style="line-height: 18.9333324432373px;"
			lang="EN-US">,&nbsp;</span>회계장부 확인 가능<span
			style="line-height: 18.9333324432373px;" lang="EN-US"></span>
		</span>
	</p>
	<p class="ecxMsoListParagraphCxSpMiddle"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; text-indent: -18pt; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US">-<span
			style="line-height: 14.1999998092651px; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">데이터가
			서버에 안전하게 저장되므로<span style="line-height: 18.9333324432373px;"
			lang="EN-US">,&nbsp;</span>데이터 복원 가능<span
			style="line-height: 18.9333324432373px;" lang="EN-US"></span>
		</span>
	</p>
	<p class="ecxMsoListParagraphCxSpMiddle"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; text-indent: -18pt; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US">-<span
			style="line-height: 14.1999998092651px; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">베트남
			직원이 베트남어로 입력한 내용을 한국어로 확인 가능<span
			style="line-height: 18.9333324432373px;" lang="EN-US"></span>
		</span>
	</p>
	<p class="ecxMsoListParagraphCxSpMiddle"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; text-indent: -18pt; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US">-<span
			style="line-height: 14.1999998092651px; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">실시간
			시제 확인으로 원활한 회사 관리 가능<span style="line-height: 18.9333324432373px;"
			lang="EN-US"></span>
		</span>
	</p>
	<p class="ecxMsoListParagraphCxSpMiddle"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; text-indent: -18pt; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US">-<span
			style="line-height: 14.1999998092651px; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">각종
			내역들을 리포트 화 하여 출력하거나<span style="line-height: 18.9333324432373px;"
			lang="EN-US">,&nbsp;</span>다양한 형식의 자료로<span
			style="line-height: 18.9333324432373px;" lang="EN-US">(</span>엑셀<span
			style="line-height: 18.9333324432373px;" lang="EN-US">,
				xml&nbsp;</span>등<span style="line-height: 18.9333324432373px;"
			lang="EN-US">)&nbsp;</span>즉시 변환 가능<span
			style="line-height: 18.9333324432373px;" lang="EN-US"></span>
		</span>
	</p>
	<p class="ecxMsoListParagraphCxSpMiddle"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; text-indent: -18pt; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US">-<span
			style="line-height: 14.1999998092651px; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">세무기준
			변화 시 프로그램 자체적으로 새로운 기준에 따른 신속한 업데이트가 가능<span
			style="line-height: 18.9333324432373px;" lang="EN-US"></span>
		</span>
	</p>
	<p class="ecxMsoListParagraphCxSpLast"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; text-indent: -18pt; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US">-<span
			style="line-height: 14.1999998092651px; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">고액의<span
			style="line-height: 18.9333324432373px;" lang="EN-US">&nbsp;ERP&nbsp;</span>시스템이
			아닌<span style="line-height: 18.9333324432373px;" lang="EN-US">,&nbsp;</span>저렴한
			월 사용료로 비용부담 감소&nbsp;
		</span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">등이
			있습니다<span style="line-height: 18.9333324432373px;" lang="EN-US">.</span>
		</span><span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"
			lang="EN-US"></span>
	</p>
	<p class="ecxMsoListParagraphCxSpLast"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; text-indent: -18pt; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"><span
			style="line-height: 18.9333324432373px;" lang="EN-US"><br
				style="line-height: 18.9333324432373px;"></span></span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">예를
			들면<span style="line-height: 18.9333324432373px;" lang="EN-US">,&nbsp;</span>한국어가
			지원되므로 경리직원들은 베트남어로 데이터를 입력하고<span
			style="line-height: 18.9333324432373px;" lang="EN-US">, 사장</span>님들은&nbsp;
		</span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">즉시
			한국어로 확인이 가능합니다<span style="line-height: 18.9333324432373px;"
			lang="EN-US">.&nbsp;</span>또한 모든 데이터는 서버에 저장이 되기에<span
			style="line-height: 18.9333324432373px;" lang="EN-US">,&nbsp;</span>
		</span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">경리직원과의
			마찰로 데이터가 전부 삭제되어도<span style="line-height: 18.9333324432373px;"
			lang="EN-US">,&nbsp;</span>혹은 공장에 화재가 나서<span
			style="line-height: 18.9333324432373px;" lang="EN-US">,&nbsp;</span>
		</span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';">컴퓨터의
			데이터가 유실이 되어도<span style="line-height: 18.9333324432373px;"
			lang="EN-US">,&nbsp;</span>서버의 데이터를 가지고<span
			style="line-height: 18.9333324432373px;" lang="EN-US">,&nbsp;</span>원하는
			시점으로 데이터 복원이 가능합니다<span style="line-height: 18.9333324432373px;"
			lang="EN-US">.</span>
		</span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"><span
			style="line-height: 18.9333324432373px;" lang="EN-US"><br></span></span>
	</p>
	<div id="ecxinlineImage1" style="display: inline-block;">
		<span>&nbsp;</span>&nbsp;
	</div>
	<div id="inlineImage0" style="display: inline-block">
		<span contenteditable="true">&nbsp;</span>
		<div style="display: inline-block" unselectable="on"
			class="inlineImage" initheight="408" initwidth="566"
			contenteditable="false">
			<img
				src="http://s13.postimg.org/9v63znap3/image.jpg"
				height="408" width="566">
		</div>
		<span contenteditable="true">&nbsp;</span>
	</div>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<br>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"><span
			style="line-height: 18.9333324432373px;" lang="EN-US">문의사항은
				언제든지 아래의 연락처로 연락주시기 바랍니다.</span></span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"><span
			style="line-height: 18.9333324432373px;" lang="EN-US">감사합니다.</span></span>
	</p>
	<p class="ecxMsoNormal"
		style="line-height: 21.2999992370605px; color: rgb(68, 68, 68); font-family: Calibri, sans-serif; font-size: 15px; background-color: rgb(255, 255, 255);">
		<span
			style="line-height: 18.9333324432373px; font-size: 10pt; font-family: '맑은 고딕';"><span
			style="line-height: 18.9333324432373px;" lang="EN-US"><br></span></span>
	</p>
	<p class="ecxMsoNormal"
		style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);">
		<font face="맑은 고딕"><span
			style="font-size: 13px; line-height: 18.9333324432373px;">구진영
				법인장 &nbsp;090-613-6161</span></font>
	</p>
	<p class="ecxMsoNormal"
		style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);">
		<font face="맑은 고딕"><span
			style="font-size: 13px; line-height: 18.9333324432373px;">www.amnote.com.vn</span></font>
	</p>
	<p class="ecxMsoNormal"
		style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);">
		<font face="맑은 고딕"><span
			style="font-size: 13px; line-height: 18.9333324432373px;">amnote@amnote.com.vn</span></font>
	</p>
	<p class="ecxMsoNormal"
		style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);">
		<font face="맑은 고딕"><span
			style="font-size: 13px; line-height: 18.9333324432373px;">베트남
				직원 : 012-7777-9000</span></font>
	</p>
	<p class="ecxMsoNormal"
		style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);">
		<br>
	</p>
</div>